<div class="container">
  <h1><%= @list.name %></h1>
  <h2>Movies</h2>
  <ul>
    <% @list.bookmarks.each do |bookmark| %>
      <li>
        <strong><%= bookmark.movie.title %></strong>
        (<%= bookmark.movie.rating %> stars) -
        <em>"<%= bookmark.comment %>"</em>
        <%= link_to "Delete",
                    bookmark_path(bookmark),
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                    class: "text-danger" %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
  <br>
  <%= link_to "Back to all lists", lists_path %>
</div>
</div>
